In [1]:
### Getting the total number of confirmed cases in the top 20 affected countries and all the states in the US.
### purpose: to run the cron-job every hour using HitchHiqe's resources to perform ridge based lambda regression 
### for further classification and improving the accuracy of the algorithm in better prediciton for the app.


from selenium import webdriver
import pandas as pd
import os
import re
from selenium.webdriver import ActionChains
from selenium.common.exceptions import NoSuchElementException  
from selenium.webdriver.common.keys import Keys
import time
import numpy as np
import random
from datetime import datetime
import collections

In [2]:
URL = "https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6"

In [3]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = True
prefs = {"profile.default_content_setting_values.notifications" : 2}
chrome_options.add_experimental_option("prefs",prefs)
br = webdriver.Chrome(executable_path=r"C:\Users/qasim/Downloads/chromedriver_win32_v80/chromedriver.exe",options=chrome_options)
br.get(URL)
time.sleep(3)

In [4]:
root = br.find_element_by_id("ember6")

In [5]:
root.screenshot("sample_image.png")

True

In [6]:
data = root.text.split("\n")[2:]

In [7]:
end = data.index("Last Updated at (M/D/YYYY)")

In [8]:
total_cases = data[1]

In [9]:
start = 1 + data.index("Confirmed Cases by Country/Region/Sovereignty")

In [10]:
data = data[start:end]

In [11]:
total_cases = int(total_cases.replace(",",""))

In [12]:
TIME = str(datetime.now())

In [13]:
total_cases

198179

In [70]:
case = {}

In [71]:
for x in data:
    x = x.split(" ")
    country = " ".join(x[1:]).replace("*", "")
    cases = int(x[0].replace(",",""))
    case[country] = cases

In [72]:
case = collections.OrderedDict(sorted(case.items()))

In [ ]:
case["Total Count"] = total_cases

In [65]:
df = pd.DataFrame.from_dict(case, orient="index", columns=[':'.join(TIME.split(":")[:-1])]).reset_index()

In [66]:
df = df.rename(columns={"index":"Country"})

In [67]:
df.to_csv("Confirmed_case.csv", index=False)

In [68]:
df.tail()

            Country  2020-03-18 04:55
151  United Kingdom              1960
152         Uruguay                29
153      Uzbekistan                11
154       Venezuela                33
155         Vietnam                66